<div id="about">
    <div class="about-version" string-key="app_version"></div>
    <div class="about-copyright" string-key="about_copyright"></div>
    <div class="about-contact" string-key="about_contact"></div>
    <ul class="about-list mdc-list">
        <li class="mdc-list-item">
            <span class="material-icons" aria-hidden="true">code</span>
            <a target="_blank" rel="noopener noreferrer" href="https://www.github.com/caarmen/poet-assistant-web"><span
                    string-key="about_source_code"></span></a>
        </li>
        <li class="mdc-list-item">
            <span class="material-icons" aria-hidden="true">get_app</span>
            <a target="_blank" rel="noopener noreferrer" href="download.html"><span string-key="about_download"></span></a>
        </li>
        <li class="mdc-list-item">
            <span class="material-icons" aria-hidden="true">gavel</span>
            <span class="about-legal" string-key="about_legal"></span>
        </li>
        <ul class="about-legal-list mdc-list">
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer" href="__PRIVACY_POLICY_FILE__"><span
                        string-key="about_privacy"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer" href="LICENSE.txt"><span string-key="about_license"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer" href="LICENSE-rhyming-dictionary.txt"><span
                        string-key="about_license_rhymer"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer" href="LICENSE-thesaurus-wordnet.txt"><span
                        string-key="about_license_thesaurus"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer" href="LICENSE-dictionary-wordnet.txt"><span
                        string-key="about_license_dictionary"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer"
                    href="https://github.com/google/material-design-icons/blob/master/LICENSE"><span
                        string-key="about_license_material_design_icons"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer"
                    href="https://github.com/material-components/material-components-web/blob/master/LICENSE"><span
                        string-key="about_license_material_components_web"></span></a>
            </li>
            <li class="mdc-list-item">
                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span><a target="_blank"
                    rel="noopener noreferrer" href="https://github.com/sql-js/sql.js/blob/master/LICENSE"><span
                        string-key="about_license_sqljs"></span></a>
            </li>
        </ul>
    </ul>
</div>