<div id="about">
    <div string-key="app_version"></div>
    <div string-key="about_copyright"></div>
    <div string-key="about_contact"></div>
    <div><a href="https://www.github.com/caarmen/poet-assistant-web"><span string-key="about_source_code"></span></a></div>
    <div><a href="LICENSE.txt"><span string-key="about_license"></span></a></div>
    <div><a href="LICENSE-rhyming-dictionary.txt"><span string-key="about_license_rhymer"></span></a></div>
    <div><a href="LICENSE-thesaurus-wordnet.txt"><span string-key="about_license_thesaurus"></span></a></div>
    <div><a href="LICENSE-dictionary-wordnet.txt"><span string-key="about_license_dictionary"></span></a></div>
</div>