<header id="__ID__" class="mdc-top-app-bar ">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title">__TITLE__</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button id="menu_overflow" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">more_vert</button>
    </section>
  </div>
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <div id="placeholder-input-text-search" class="mdc-theme--surface"></div>
      <div id="placeholder-suggestions"></div>
    </section>
  </div>
  <div class="mdc-top-app-bar__row mdc-theme--surface">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <div id="placeholder-tab-bar"></div>
    </section>
  </div>
</header>