<label id="__ID__" class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="my-label-id">__HINT__</span>
    <i id="btn-search" class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">search</i>
    <input class="mdc-text-field__input" type="text" aria-labelledby="__ID__">
    <i id="btn-clear-search-text" class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0" role="button">close</i>
    <span class="mdc-line-ripple"></span>
</label>