<label id="__ID__" class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
    <span class="mdc-text-field__ripple"></span>
    <i id="btn-search" class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button" label-string-key="btn_search_title">search</i>
    <input class="mdc-text-field__input" type="text" aria-labelledby="__ID__" placeholder="__HINT__">
    <i id="btn-clear-search-text" class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0" role="button" label-string-key="btn_close_title">close</i>
    <span class="mdc-line-ripple"></span>
</label>