<div class="mdc-list list-header">
    <span class="list-header-text">__TEXT__</span>
    <button label-string-key="btn_settings_title" class="mdc-button list-header-settings">
        <span class="mdc-button__ripple"></span>
        <span class="material-icons mdc-button__icon" aria-hidden="true">settings</span>
    </button>
    <button label-string-key="btn_copy_title" class="mdc-button list-header-copy">
        <span class="mdc-button__ripple"></span>
        <span class="material-icons mdc-button__icon" aria-hidden="true">content_copy</span>
    </button>
</div>