<div class="mdc-deprecated-list list-header">
    <span class="list-header__text">__TEXT__</span>
    <button label-string-key="btn_favorite_title" class="mdc-icon-button material-icons list-header__favorite __CLASS_TOGGLE_ON__">
        <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
        <i class="material-icons mdc-icon-button__icon">star_outline</i>
    </button>
    <button label-string-key="btn_settings_title" class="mdc-icon-button material-icons list-header__settings">settings</button>
    <button label-string-key="btn_copy_title" class="mdc-icon-button material-icons list-header__copy">content_copy</button>
</div>