<div class="button-bar">
    <button id="btn-copy-text" label-string-key="btn_copy_title"
        class="material-icons mdc-icon-button">content_copy</button>
    <button id="btn-upload-text" label-string-key="btn_upload_title" class="material-icons mdc-icon-button">upload_file
        <input type="file" id="file-input" accept=".txt" hidden />
    </button>
    <button id="btn-download-text" label-string-key="btn_download_title"
        class="material-icons mdc-icon-button">save_alt</button>
    <button id="btn-clear-text" label-string-key="btn_clear_title"
        class="material-icons mdc-icon-button">delete</button>
</div>