<div class="voice-settings">
  <div id="voice-settings__locale-label" string-key="locale"></div>
  <div id="voice-settings__locale">
    <div id="voice-settings__locale__name" string-key="locale"></div>
    <div id="voice-settings__locale__locales-menu"></div>
  </div>
  <div id="voice-settings__voice-label" string-key="voice"></div>
  <div id="voice-settings__voice">
    <div id="voice-settings__voice__name" string-key="voice"></div>
    <div id="voice-settings__voice__voices-menu"></div>
  </div>
  <div id="voice-settings__pitch__label" string-key="voice-pitch"></div>
  <div id="voice-settings__pitch__slider">__SLIDER_PITCH__</div>
  <div id="voice-settings__speed__label" string-key="voice-speed"></div>
  <div id="voice-settings__speed__slider">__SLIDER_SPEED__</div>
</div>