<div class="voice-settings-grid">
  <div id="setting-selected-voice">
    <div id="voice-label" string-key="voice"></div>
    <div id="selected-voice" string-key="voice"></div>
    <div id="voices-menu"></div>
  </div>
  <div id="voice-settings-grid-filler"></div>
  <div id="voice-pitch-label" string-key="voice-pitch"></div>
  <div id="voice-pitch-slider">__SLIDER_PITCH__</div>
  <div id="voice-speed-label" string-key="voice-speed"></div>
  <div id="voice-speed-slider">__SLIDER_SPEED__</div>
</div>